// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type="checkbox"][readonly] {
  pointer-events: none;
}

ul {
  padding: 0;
}


li {
  list-style-type: none;
}
blockquote {
  background-color: lightgrey;
  padding: 20px;
  color: grey;
}
